<div id="app">
    <section class="section">
      <div class="container mt-5">
        <div class="row">
          <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
            <div class="login-brand">
              <a href="/login"><img src="../assets/img/logoRyc.png" alt="logo" width="200"></a>
            </div>

            <div class="card card-primary">
              <div class="card-header"><h4>Olvide mi contraseña</h4></div>
              <div class="card-body">
                <p class="text-muted">Escribe tu nombre de usuario, el departamento de software te enviará tu contraseña</p>
                <form method="POST">
                  <div class="form-group">
                    <label for="email">Usuario</label>
                    <input id="usuario" type="text" class="form-control" name="usuario" tabindex="1" required autofocus>
                  </div>

                  <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-lg btn-block" tabindex="4">
                      Recuperar contraseña
                    </button>
                  </div>
                </form>
              </div>
            </div>
            <div class="simple-footer">
              Copyright &copy; Grupo Ryc 2021
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
