<div class="main-content">
    <div class="card">
        <div class="card-header">
          <h4>Cartas</h4>
        </div>
        <div class="card-body">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col">NSS</th>
                <th scope="col">Fecha de nacimiento</th>
                <th scope="col">Acción</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Jonatan</td>
                <td>12345678541</td>
                <td>19/08/1995</td>
                <td>
                    <a style="cursor: pointer; color: white;" class="btn btn-success">Generar carta</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
</div>